.frame-view {
    width: 100%;
    height: 100%;
    overflow: auto;
    color: var(--text-color);
}
.viewport {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.viewport .view-heading {
    padding: 10px;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    font-size: 1.2em;
    font-weight: bold;
}
.viewport .view-col {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--col-bg-color);
}
.viewport .view-col:nth-child(odd) {
    background-color: var(--odd-col-bg-color);
}