# Enable URL rewriting if mod_rewrite is available
<IfModule mod_rewrite.c>
    RewriteEngine On
    
Options -Indexes

# Redirect localhost and localhost/ to localhost/home
RewriteCond %{HTTP_HOST} ^localhost$ [NC]
RewriteRule ^(|/)$ /home [R=301,L]
# Redirect root URL (e.g., http://example.com or http://example.com/) to index.php
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^ public/index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ public/index.php [L]
</IfModule>

# Handle compression if mod_deflate is available
